* {
    box-sizing: border-box;
}

html {
    font-family: serif;
    color: #626262;
    line-height: 1.5;
}

button {
    border: none;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

input {
    border: none;
}

body {
    font-size: 1rem;
    margin: 0;
    background-color: #22252c;
}

img {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: inherit;
}


/* HELPERS */

.hidden {
    visibility: hidden !important;
    display: none !important;
}

.flex {
    display: flex;
}

.flex.center {
    justify-content: center;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

.flex.column {
    flex-direction: column;
}

.flex.wrap {
    flex-wrap: wrap;
}